<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<a href="/toHome">返回首页</a>
<h1>打车费</h1>
订单id：<p id="customerOrderId" th:text="${customerOrderId}"></p><br/>
花费：<p id="price" th:text="${price}"></p>
支付方式(支付宝/微信/线下)<input type="text" id="type"/><br/>
<button id="up">付款</button>
</body>
<script type="text/javascript">
    $("#up").click(function () {
        var customerOrderId = document.getElementById("customerOrderId").innerHTML;
        var type = document.getElementById('type').value;
        var price = document.getElementById("price").innerHTML;
        location.href = "/meter/create?customerOrderId="+customerOrderId+"&price="+price+"&type="+type;
    })
</script>
</html>
